@model Workshop.Areas.Backend.Models.LogonViewModel
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Logon</title>
	<link href="/Content/bootstrap.min.css" rel="stylesheet" />
	<style type="text/css">
		body {
			padding-top: 100px;
			padding-bottom: 100px;
		}

		.panel-body {
			background: #fefefe;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">管理後台登入</h3>
					</div>
					<div class="panel-body">
						@using (Html.BeginForm("Logon", "Home", FormMethod.Post))
						{
							@Html.AntiForgeryToken()
							
							<fieldset>
								@if (!ViewData.ModelState.IsValid)
								{
									<div class="alert alert-danger">
										<a class="close" data-dismiss="alert" href="#">×</a>
										@Html.ValidationSummary()
									</div>
								}
								<div class="form-group">
									@Html.EditorFor(x => x.Account, new { htmlAttributes = new { @class = "form-control", placeholder = "帳號" } })
								</div>
								<div class="form-group">
									@Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "密碼" } })
								</div>
								<div class="checkbox">
									<label>
										@Html.CheckBoxFor(x => x.Remember)
										@Html.DisplayNameFor(x => x.Remember)
									</label>
								</div>
								<input class="btn btn-success" type="submit" value="登入" />
								<input class="btn btn-default" type="button" value="取消" />
							</fieldset>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/Scripts/jquery-1.10.2.min.js"></script>
	<script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
